body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
p{
  margin: 0;
}
li{
  list-style: none;
}

canvas{
  background-image:
    linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
}

// .cite{
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   display: flex;
//   &_list{
//     margin: 0;
//     padding: 10px;
//     background-color: #fff;
//     border-top: 1px solid #ccc;
//     border-bottom: 1px solid #ccc;
//     height: 100%;
//   }
//   &_btn{
//     writing-mode: vertical-rl;
//     width: 30px;
//     line-height: 1.2;
//     appearance: none;
//     border: none;
//     border-radius: 4px 0 0 4px;
//     background-color: #ccc;
//     color: #000;
//     cursor: pointer;
//     position: relative;
//     &:before{
//       content: "";
//       position: absolute;
//       top: 50%;
//       left: -20px;
//       display: block;
//       width: 20px;
//       height: 40px;
//       border-radius: 4px 0 0 4px;
//       background-color: #ccc;
//       transform: translateY(-50%);
//     }
//     &:after{
//       content: "＜";
//       position: absolute;
//       top: 50%;
//       left: -15px;
//       display: block;
//       transform: translateY(-50%);
//     }
//   }
//   &_note{
//     font-size: 12px;
//     text-indent: 1rem;
//   }
// }